<li class="d-flex justify-content-between">
  <div class="form-check">
    <!-- tudo que eu colocar dentro das aspas deve ser uma string de javascript. e
    tb posso usar um operador ternário. -->
    <label class="form-check-label" [ngClass]="cssClasses">
      <input
        class="checkbox"
        type="checkbox"
        [checked]="wish.isComplete"
        (click)="toggleFulfilled()"
      />
      {{ wish.wishText }}
    </label>
  </div>
  <div>
    <button
      type="button"
      class="btn-close"
      title="Close"
      (click)="removeWish()"
    ></button>
  </div>
</li>
